<!DOCTYPE html>
{%  load staticfiles %}<!-- New Line -->
{% load static %}
<html lang="en">

<head>
    <title>Results Viewer</title>
</head>

<body>
<p> First one is initial image, second is after pre-processing </p>
{% static "" as bu %}
<img class="media-object" src="{{ bu }}/Images/{{imgpath}}.png" alt="">
<img class="media-object" src="{{ bu }}/SauvolaImages/{{imgpath}}.jpg" alt="">
<p> Basic Tesseract Output <p>
<p> {{ TOoutput }} </p>
<p> After Sauvola Output </p>
<p> {{ Sauvolaoutput }} </p>
</body>

</html>
